@model Analyzer.Models.VM.StageAllVM


<form method="post" asp-action="Edit">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit Tester Stage</h2>
            <h4>
                for Device @Model.Device.Name , SN @Model.Device.SN, Model @Model.Device.Model
                <input asp-for="@Model.Device.Id" hidden />
                <input asp-for="@Model.Device.Name" hidden />
                <input asp-for="@Model.Device.SN" hidden />
                <input asp-for="@Model.Device.Model" hidden />
                <input asp-for="@Model.Device.ModelName" hidden />
                <input asp-for="@Model.Device.Comments" hidden />
                <input asp-for="@Model.Device.OtherComments" hidden />
                <input asp-for="@Model.Device.TotalCount" hidden />
                <input asp-for="@Model.Device.TesterTime" hidden />
                <input asp-for="@Model.Device.PersntLost" hidden />
                <label asp-for="@Model.Device.PersntResult"></label>
                <input asp-for="@Model.Device.PersntResult" hidden />
                <input asp-for="@Model.Device.OtherCommentsAz" hidden />
                <input asp-for="@Model.Device.Result" hidden />
                <input asp-for="@Model.Device.TotalAll" hidden />
                <input asp-for="@Model.Device.DiffResult" hidden />
                <input asp-for="@Model.Device.Сonclusion" hidden />
                <input asp-for="@Model.Device.Stage" hidden />
            </h4>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-6">
                <label style="padding-top:15px"><b>Init Evaluate List</b></label>
                @if (Model.DevCompEvalList != null)
                {
                    @for (int i = 0; i < Model.DevCompEvalList.Count(); i++)
                    {
                        <div style="display:inline">
                            <div class="input-group">
                                @{
                                    int componentId = Model.DevCompEvalList[i].ComponentId;
                                    Component component = Model.CompList.FirstOrDefault(u => u.Id == componentId);
                                }
                                <label style="width:150px">@component.Name</label>
                                <label style="width:50px">@component.Price</label>
                                <input asp-for="DevCompEvalList[i].Id" hidden />
                                <input asp-for="DevCompEvalList[i].DeviceId" hidden />
                                <input asp-for="DevCompEvalList[i].ComponentId" hidden />
                                <input asp-for="DevCompEvalList[i].Stage" hidden />
                                <input asp-for="DevCompEvalList[i].Pos" hidden />
                                <input asp-for="DevCompEvalList[i].Type" hidden />
                                <input asp-for="DevCompEvalList[i].Comment" class="form-control" style="width: 100px" />
                                <input asp-for="DevCompEvalList[i].Value" class="form-control" style="width: 50px" />
                            </div>
                        </div>
                    }
                }
                <label style="padding-top:15px"><b>Init Accessories List</b></label>
                @if (Model.DevCompAssList != null)
                {
                    @for (int i = 0; i < Model.DevCompAssList.Count(); i++)
                    {
                        <div style="display:inline">
                            <div class="input-group">
                                @{
                                    int componentId = Model.DevCompAssList[i].ComponentId;
                                    Component component = Model.CompList.FirstOrDefault(u => u.Id == componentId);
                                }
                                <label style="width:150px">@component.Name</label>
                                <label style="width:50px">@component.Price</label>
                                <input asp-for="DevCompAssList[i].Id" hidden />
                                <input asp-for="DevCompAssList[i].DeviceId" hidden />
                                <input asp-for="DevCompAssList[i].ComponentId" hidden />
                                <input asp-for="DevCompAssList[i].Stage" hidden />
                                <input asp-for="DevCompAssList[i].Pos" hidden />
                                <input asp-for="DevCompAssList[i].Type" hidden />
                                <input asp-for="DevCompAssList[i].Comment" class="form-control" style="width: 100px" />
                                <input asp-for="DevCompAssList[i].Value" class="form-control" style="width: 50px" />
                            </div>
                        </div>
                    }
                }
                <label style="padding-top:15px"><b>Init Parts List</b></label>
                @if (Model.DevCompPartsList != null)
                {
                    @for (int i = 0; i < Model.DevCompPartsList.Count(); i++)
                    {
                        <div style="display:inline">
                            <div class="input-group">
                                @{
                                    int componentId = Model.DevCompPartsList[i].ComponentId;
                                    Component component = Model.CompList.FirstOrDefault(u => u.Id == componentId);
                                }
                                <label style="width:150px">@component.Name</label>
                                <label style="width:50px">@component.Price</label>
                                <input asp-for="DevCompPartsList[i].Id" hidden />
                                <input asp-for="DevCompPartsList[i].DeviceId" hidden />
                                <input asp-for="DevCompPartsList[i].ComponentId" hidden />
                                <input asp-for="DevCompPartsList[i].Stage" hidden />
                                <input asp-for="DevCompPartsList[i].Pos" hidden />
                                <input asp-for="DevCompPartsList[i].Type" hidden />
                                <input asp-for="DevCompPartsList[i].Comment" class="form-control" style="width: 100px" />
                                <input asp-for="DevCompPartsList[i].Value" class="form-control" style="width: 50px" />
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-6">
                <label style="padding-top:15px"><b>Tester Evaluate List</b></label>
                @if (Model.DevCompEvalList != null)
                {
                    @for (int i = 0; i < Model.DevCompEval2List.Count(); i++)
                    {
                        <div style="display:inline">
                            <div class="input-group">
                                @{
                                    int componentId = Model.DevCompEval2List[i].ComponentId;
                                    Component component = Model.CompList.FirstOrDefault(u => u.Id == componentId);
                                }
                                <label style="width:150px">@component.Name</label>
                                <label style="width:50px">@component.Price</label>
                                <input asp-for="DevCompEval2List[i].Id" hidden />
                                <input asp-for="DevCompEval2List[i].DeviceId" hidden />
                                <input asp-for="DevCompEval2List[i].ComponentId" hidden />
                                <input asp-for="DevCompEval2List[i].Stage" hidden />
                                <input asp-for="DevCompEval2List[i].Pos" hidden />
                                <input asp-for="DevCompEval2List[i].Type" hidden />
                                <input asp-for="DevCompEval2List[i].Comment" class="form-control" style="width: 100px" />
                                <input asp-for="DevCompEval2List[i].Value" class="form-control" style="width: 50px" />
                            </div>
                        </div>
                    }
                }
                <label style="padding-top:15px"><b>Tester Accessories List</b></label>
                @if (Model.DevCompAssList != null)
                {
                    @for (int i = 0; i < Model.DevCompAssList.Count(); i++)
                    {
                        <div style="display:inline">
                            <div class="input-group">
                                @{
                                    int componentId = Model.DevCompAss2List[i].ComponentId;
                                    Component component = Model.CompList.FirstOrDefault(u => u.Id == componentId);
                                }
                                <label style="width:150px">@component.Name</label>
                                <label style="width:50px">@component.Price</label>
                                <input asp-for="DevCompAss2List[i].Id" hidden />
                                <input asp-for="DevCompAss2List[i].DeviceId" hidden />
                                <input asp-for="DevCompAss2List[i].ComponentId" hidden />
                                <input asp-for="DevCompAss2List[i].Stage" hidden />
                                <input asp-for="DevCompAss2List[i].Pos" hidden />
                                <input asp-for="DevCompAss2List[i].Type" hidden />
                                <input asp-for="DevCompAss2List[i].Comment" class="form-control" style="width: 100px" />
                                <input asp-for="DevCompAss2List[i].Value" class="form-control" style="width: 50px" />
                            </div>
                        </div>
                    }
                }
                <label style="padding-top:15px"><b>Tester Parts List</b></label>
                @if (Model.DevCompPartsList != null)
                {
                    @for (int i = 0; i < Model.DevCompPartsList.Count(); i++)
                    {
                        <div style="display:inline">
                            <div class="input-group">
                                @{
                                    int componentId = Model.DevCompParts2List[i].ComponentId;
                                    Component component = Model.CompList.FirstOrDefault(u => u.Id == componentId);
                                }
                                <label style="width:150px">@component.Name</label>
                                <label style="width:50px">@component.Price</label>
                                <input asp-for="DevCompParts2List[i].Id" hidden />
                                <input asp-for="DevCompParts2List[i].DeviceId" hidden />
                                <input asp-for="DevCompParts2List[i].ComponentId" hidden />
                                <input asp-for="DevCompParts2List[i].Stage" hidden />
                                <input asp-for="DevCompParts2List[i].Pos" hidden />
                                <input asp-for="DevCompParts2List[i].Type" hidden />
                                <input asp-for="DevCompParts2List[i].Comment" class="form-control" style="width: 100px" />
                                <input asp-for="DevCompParts2List[i].Value" class="form-control" style="width: 50px" />
                            </div>
                        </div>
                    }
                }
            </div>
            @* <div class="col-4">
                @if (Model.EvaluateList != null)
                {
                @for (int i = 0; i < Model.EvaluateList.Count(); i++)
                {
                    <div class="form-check">
                        @Html.CheckBoxFor(r => Model.EvaluateList[i].Visible)
                        @Model.EvaluateList[i].Name | @Model.EvaluateList[i].Price
                        <input asp-for="@Model.EvaluateList[i].Id" hidden>
                    </div>
                }
                <br/>
                }
                @if (Model.AccessoriesList != null)
                {
                @for (int i = 0; i < Model.AccessoriesList.Count(); i++)
                {
                    <div class="form-check">
                        @Html.CheckBoxFor(r => Model.AccessoriesList[i].Visible)
                        @Model.AccessoriesList[i].Name | @Model.AccessoriesList[i].Price
                        <input asp-for="@Model.AccessoriesList[i].Id" hidden>
                    </div>
                }
                }
                <br />
                @if (Model.PartsList != null)
                {
                @for (int i = 0; i < Model.PartsList.Count(); i++)
                {
                    <div class="form-check">
                        @Html.CheckBoxFor(r => Model.PartsList[i].Visible)
                        @Model.PartsList[i].Name | @Model.PartsList[i].Price
                        <input asp-for="@Model.PartsList[i].Id" hidden>
                    </div>
                }
                }
            </div> *@
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="form-group row">
                <div class="col-8 offset-2 row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-100" value="Update" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-success w-100">
                            <i class="fas fa-sign-out-alt"></i> Back
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    @* Keep this empty *@
                </div>
            </div>
        </div>
    </div>


</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}